@import "tailwindcss";

:root {
  --background: white;
  --foreground:#var(--color-mauve-800);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-miss-fajar-dose), cursive;
  --font-retro: var(--font-lime-light)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: var(--color-mauve-800);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
